# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/
env/
.env

# Django
*.sqlite3
staticfiles/
media/

# Docker
*.log

# Node / Vue
node_modules/
dist/
.vite/

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
